/* import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;

}

/*regole generali header*/
header {
    background-color: orangered;
    height: 80px;
    /* flex */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .container-navbar {

    width: 100%;
    height: 80px;
    /* flex 
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

/* stile degli elementi della nav */

a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    padding: 10px;
}

.logo img {
    width: 150px;
}

.profile i {
    color: white;
    padding: 5px;
}

/* main */


.row {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    /* flex */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.col {
    width: 500px;
    height: 600px;
    position: relative;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;

}

.col img {
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    box-shadow: inset;
    box-shadow: 0px -10px 30px #ccc;
}

.front{    
    position: inherit;
}

.back {
    display: none;
    position: absolute;
    z-index: 99;
}
.nome{
    font-size: 20px;
    font-weight: 900;
}
.prezzo{
    color: red;
    font-weight: bolder;
}



.col:hover .back{
    display: inline;
}



/* footer */

footer {
    background-color: rgb(50, 49, 49);
    height: 100px;
    /* flex */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#srl {
    font-size: 20px;
    font-weight: 900;
}

.nav-footer a {
    font-size: 13px;
}


.social i {
    color: white;
    font-size: 20px;

}